#container {   
    margin: 40px auto;
    width: 60%;
    align-content: center;
}

#button {
    height: 100px;
    width: 100px;
}

#counter {
    height: 24px;
    width: 48px;
    border: solid 2px black;
    text-align: center;
}

p {
    margin: 0 0;
}